name: Docker Build & Deploy to EKS

# Trigger on push to main branch
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 3️⃣ Login to Amazon ECR
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY }}

      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t patient-service:latest .

      # 5️⃣ Tag Docker image
      - name: Tag Docker image
        run: |
          docker tag patient-service:latest ${{ secrets.ECR_REPOSITORY }}:latest

      # 6️⃣ Push Docker image to ECR
      - name: Push Docker image
        run: |
          docker push ${{ secrets.ECR_REPOSITORY }}:latest

      # 7️⃣ Update kubeconfig for EKS
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name demo-eks
      # 8️⃣ Deploy to EKS
      - name: Deploy to EKS
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml
